  .navbar {
    position: fixed;
    top: 0;
    left: -370px;
    width: 340px;
    height: 100%;
    color: white;
    transition: left 0.3s ease;
    //padding-left: 30px;
    padding-top: 10px;
    z-index: 99;
    font-family: 'medicalFont';
    background: #249fb57a;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20.4px);
    -webkit-backdrop-filter: blur(11.4px);
    font-size: 30px;

    hr.rounded {
        border-top: 5px solid #ffffff;
        border-radius: 3px;
        width: 80%;
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin: 1rem 0;
  
        a {
          color: white;
          text-decoration: none;
          font-weight: 500;
          padding-left: 30px;
        }
      }
    }
  
    &.open {
      left: 0;
    }
  }
  