
@keyframes fade-in {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  @keyframes swirl-in-fwd {
    0% {
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
              transform: rotate(0) scale(1);
      opacity: 1;
    }
  }

  @keyframes slide-in-top {
    0% {
              transform: translateY(-30px);
      opacity: 0;
    }
    100% {
              transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes heartbeat {
    from {
              transform: scale(1);
              transform-origin: center center;
              animation-timing-function: ease-out;
    }
    10% {
              transform: scale(0.91);
              animation-timing-function: ease-in;
    }
    17% {
              transform: scale(0.98);
              animation-timing-function: ease-out;
    }
    33% {
              transform: scale(0.87);
              animation-timing-function: ease-in;
    }
    45% {
              transform: scale(1);
              animation-timing-function: ease-out;
    }
  }

  @keyframes wobble-hor-bottom {
    0%,
    100% {
              transform: translateX(0%);
              transform-origin: 50% 50%;
    }
    15% {
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
              transform: translateX(15px) rotate(6deg);
    }
    45% {
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }

  @keyframes jello-horizontal {
    0% {
              transform: scale3d(1, 1, 1);
    }
    30% {
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
              transform: scale3d(1, 1, 1);
    }
  }



.background{
    background-image: url("../../assets/backGroundWelcomeClinic.jpg");
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

.logo{
    background-image: url("../../assets/logos/clinicaMedicaLogoAzulTres.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-color: transparent;
    border: transparent;
    margin-top: 50px;
    transition: 0.4s ease-in-out;
    animation: heartbeat 1.5s infinite;
}

.container-home{
    position: absolute;
    width: 95%;
    top: 2.5%;
    right: 2.5%;
    height: 95%;
    background: rgba(0, 0, 0, 0.578);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(33.7px);
    -webkit-backdrop-filter: blur(11.7px);
    justify-content: center;
    text-align: center;
    border-radius: 55px;
    animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

h1{
    margin-top: 20px;
    font-family: 'medicalFont';
    font-size: 80px;
    text-shadow: 1px 1px black;
    color: whitesmoke;
}

h2{
    font-family: 'medicalFont';
    font-size: 50px;
    text-shadow: 1px 1px black;
    color: whitesmoke;
}

h3{
    font-family: 'medicalFont';
    font-size: 35px;
    text-shadow: 1px 1px black;
    color: whitesmoke;
}


////////////////////// ALERTA DE ERROR //////////////////////

.text-alert{
    font-family: 'medicalFont';
    font-size: 25px;
    color: whitesmoke;
}

.message{
    position: absolute;
    width: 30%;
    border-radius: 35px;
    left: 2.5%;
    top: 5%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.5px);
    -webkit-backdrop-filter: blur(14.5px);
    padding: 30px;
    transform: scale(1);
    transition: transform 0.4s, top 0.4s;
    z-index: 5000;

    hr.rounded {
        border-top: 5px solid #ffffff;
        border-radius: 3px;
        width: 80%;
    }
  }

  .hide-shortcuts{
    transform: scale(0.0000001);
    //display: none;
    z-index: 5000;
  }

  .error{
    background: rgba(105, 39, 46, 0.603);
}

.success{
    background: rgba(68, 152, 66, 0.603);
}


////////////////////// ALERTA DE ERROR //////////////////////


////////////////////// SPINNER //////////////////////


@keyframes spin{
    to{
        transform: rotate(360deg);
    }
  }

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4999;
}

.spinner{
    animation: spin 1.5s linear infinite;
}

.spinner-logo{
    background-image: url("../../assets/spinner/spinnerClinica.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-color: transparent;
    border: transparent;
    transition: 0.4s ease-in-out;
    animation: heartbeat 1.5s infinite;
}

////////////////////// SPINNER //////////////////////