<div class="background">




</div>

@if (spinner) {

    <div class="spinner-overlay">
        <div class="spinner">
            <button class="spinner-logo" disabled="true"></button>
        </div>
        <h2>Cargando...</h2>
    </div>
}

<div class="container-home">
   
    <div style="justify-items: center; align-items: center; display: flex; justify-content: center; gap: 2.5%;">
        <h1>Clínica Médica Serenity</h1>
        <button class="logo" disabled="true"></button>
    </div>
    <br>

    <h2>ERROR 404 - Página no encontrada</h2>
    <hr style="width: 55%;">
    <h3>No se encontró la página que estaba buscando.</h3>
    <h3>Ahora a la brevedad se lo va a redirigir a la página de Bienvenida.</h3>
    <h3>Disculpe las Molestias.</h3>
    <br><br>
    <i class="fa-solid fa-triangle-exclamation" style="font-size: 140px; background: transparent; color: rgb(36, 159, 181);" ></i>
    
</div>
